@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #3157a8;
  --red: #fb5656;
}

body {
  background-color: #fefefe;
  font-family: 'Poppins', Arial, sans-serif;
  height: 100vh;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.header {
  background-color: var(--blue);
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.header h2 {
  color: #fefefe;
}

.header button {
  color: #fefefe;
  background-color: var(--blue);
  border-radius: 10px;
  padding: 2px 6px;
  border: 1px solid #fefefe;
}

.header button:hover,
.has-read-container button:hover,
.remove-book-btn:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card-container {
  width: 75%;
  display: flex;
  gap: 12px;
  flex-flow: row wrap;
  justify-content: center;
  /* background: #ddd; */
}

.card {
  border: 1px solid var(--blue);
  border-radius: 10px;
  /* height: 300px; */
  width: 300px;
  color: #444;
}

.card-header {
  background-color: var(--blue);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: #fefefe;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  position: relative;
}

.remove-book-btn {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 8px;
  margin-left: 8px;
  background-color: var(--blue);
  border: 1px solid #fefefe;
  border-radius: 5px;
  padding: 3px 5px;
  color: #fefefe;
}

.info-container {
  padding: 8px;
}

.has-read-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.has-read-container button {
  padding: 2px 4px;
  background-color: #fefefe;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 8px;
}
